[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=model_test
Exec=/usr/bin/single-instance /opt/model_test/bin/model_test
Icon=/usr/share/icons/hicolor/80x80/apps/model_test80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
